{import '_blocks.latte'}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{ifset $title}{$title}{/ifset}</title>

    {block assets}
        <!-- jQuery -->
        <script n:asset="node_modules/jquery/dist/jquery.js"></script>

        <!-- Bootstrap -->
        <link n:asset="node_modules/bootstrap/dist/css/bootstrap.css">
        <link n:ifset="$layoutTemplateActive" n:asset="node_modules/bootswatch/dist/{$layoutTemplateActive}/bootstrap.css">

        <!-- Font awesome -->
        <link n:asset="node_modules/@fortawesome/fontawesome-free/css/all.css">

        <!-- Select2 -->
        <link n:asset="node_modules/select2/dist/css/select2.css">
        <link n:asset="node_modules/select2-bootstrap-5-theme/dist/select2-bootstrap-5-theme.css">

        <!-- Ublaboo datagrid -->
        <link n:asset="node_modules/ublaboo-datagrid/assets/datagrid.css">

        <!-- App styles -->
        <link n:asset="css/style.css">
    {/block}
</head>

<body>
    <div class="container-fluid pt-2 pb-2">
        {include #flashes $flashes}

        <div class="row mt-2">
            <div class="col-md-9">
                <ol class="breadcrumb m-3" n:inner-foreach="$breadcrumbs as $breadcrumb">
                    <li n:class="breadcrumb-item, $presenter->isLinkCurrent($breadcrumb->target) ? active">
                        <a n:href="$breadcrumb->target" n:tag-if="!$presenter->isLinkCurrent($breadcrumb->target)">
                            {$breadcrumb->name}
                        </a>
                    </li>
                </ol>
            </div>
            <div class="col-md-3">
                <div class="mb-2"><i class="fa-solid fa-database fa-lg"></i> {$databaseName}</div>
                {include #dropdown
                    title => 'Layout templates',
                    active => $layoutTemplateActive,
                    items => $layoutTemplates,
                    switch => 'changeLayoutTemplate!',
                    icon => 'fas fa-paint-brush',
                }
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 bg-light">
                {include #menu items => $mainMenuItems}
            </div>
            <div class="col-md-10">
                <h1 n:ifset="$title">{$title}</h1>
                {include #content}
            </div>
        </div>
    </div>

	{block assets-end}
        <!-- Bootstrap -->
        <script n:asset="node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>

        <!-- Font awesome -->
        <script n:asset="node_modules/@fortawesome/fontawesome-free/js/all.js"></script>

        <!-- Select2 -->
        <script n:asset="node_modules/select2/dist/js/select2.full.js"></script>

        <!-- jQuery plugins -->
        <script n:asset="node_modules/jquery.are-you-sure/jquery.are-you-sure.js"></script>

        <!-- Nette -->
        <script n:asset="node_modules/live-form-validation/live-form-validation.js"></script>
        <script n:asset="lib/live-form-validation.extend.js"></script>
        <script n:asset="node_modules/nette.ajax.js/nette.ajax.js"></script>

        <!-- Ublaboo datagrid -->
        <script n:asset="node_modules/ublaboo-datagrid/assets/datagrid.js"></script>

        <!-- Ace editor -->
        <script n:asset="node_modules/ace-builds/src-noconflict/ace.js"></script>
        <script n:asset="lib/code-editor.js"></script>

        <!-- App -->
        <script n:asset="js/app.js"></script>
	{/block}
</body>
</html>
