{* Blocks for various components in web layout *}
{* ============================================================================ *}

{define #flashes $flashes}
    <div class="flash" n:snippet="flash" n:inner-foreach="$flashes as $flash">
        {var $flashTypesInfo = [
            $presenter::FLASH_INFO => ['primary', 'fas fa-info-circle'],
            $presenter::FLASH_SUCCESS => ['success', 'fas fa-check-circle'],
            $presenter::FLASH_WARNING => ['warning', 'fas fa-exclamation-circle'],
            $presenter::FLASH_ERROR => ['danger', 'fas fa-times-circle'],
        ]}
        <div n:class="alert, alert-dismissible, isset($flashTypesInfo[$flash->type]) ? 'alert-'.$flashTypesInfo[$flash->type][0]">
            <i n:if="isset($flashTypesInfo[$flash->type])" n:class="$flashTypesInfo[$flash->type][1]"></i>
            {$flash->message}
            {*<button type="button" class="close" data-dismiss="alert">&times;</button>*}
        </div>
    </div>
{/define}

{define #menu $items}
    <nav class="menu">
        <ul class="nav flex-column nav-stacked" n:inner-foreach="$items as $name => $item">
            <li class="nav-item item-{$name} p-1">
                {var $menuCurrent = str_starts_with($item->target, $presenter->getShortName())}
                {var $menuTitle = $item->title ?? $name}
                <a n:href="$item->target" n:class="text-left, btn, nav-link, $menuCurrent ? active" title="{$menuTitle}">
                    <span class="icon icon-{$name}">{$menuTitle|firstUpper}</span>
                </a>
            </li>
        </ul>
    </nav>
{/define}

{define #dropdown $title, $items, $active, $switch, $icon}
    <div class="dropdown">
        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i n:tag-ifset="$icon" class="{$icon}"></i> {$title} {ifset $active}({$active}){/ifset}
        </button>
        <ul class="dropdown-menu" n:inner-foreach="$items as $item">
            {first}<li><a class="dropdown-item" n:href="$switch, null">-- Default --</a></li>{/first}
            <li>
                <a n:class="dropdown-item, $item === ($active ?? null) ? active" n:href="$switch, $item">
                    {$item|firstUpper}
                </a>
            </li>
        </ul>
    </div>
{/define}
