{* Blocks for rendering forms *}
{* ============================================================================ *}

{define #input-checkbox $input, array $options = []}
    {var $input = is_string($input) ? end($this->global->formsStack)[$input] : $input}
    {var $options = $options + $input->getOptions()}
    {var $render = $options[render] ?? null}

    <div n:class="form-check, $render === switch ? form-switch">
        <label class="form-check-label" n:name="$input">
            <input class="form-check-input" n:name="$input" n:attr="$render === switch ? role => switch">
            {$input->getCaption()}
        </label>
    </div>
{/define}

{define #input $input, array $options = []}
    {var $input = is_string($input) ? end($this->global->formsStack)[$input] : $input}
    {var $options = $options + $input->getOptions()}
    {var $type = $options[type] ?? null}

    <div class="mt-1 mb-1">
        {if $type === 'checkbox'}
            {include #input-checkbox $input, $options}
        {else}
            {label $input class => form-label /}
            {input $input class => form-control}
        {/if}
    </div>
{/define}

{define #submit $input, array $options = []}
    {var $class = $options['class'] ?? 'btn-primary'}
    {var $icon = $options['icon'] ?? null}
    {var $input = is_string($input) ? end($this->global->formsStack)[$input] : $input}
    <button n:name="$input" n:class="btn, $class" n:attr="data-confirm => $options[confirm] ?? null">
        <span class="pre-button">
            {*<span class="button-spinner">
                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            </span>*}
            <span class="button-icon">
                <i n:if="$icon" class="{$icon}"></i>
            </span>
        </span>
        {$input->getCaption()}
    </button>
{/define}
