{extends $originalTemplate}

{block table-class}table table-striped table-hover{/block}

{block col-rowActions}
    {var $entity = $item}
    <a href="{plink edit, $entity->id}" title="Edit" class="btn btn-primary btn-sm">
        <i class="fa-solid fa-pen-to-square"></i>
    </a>
    <a data-copy-clipboard title="Copy ID" class="btn btn-secondary btn-sm">
        <i class="fa-solid fa-copy"></i>
    </a>
    <a href="{plink delete!, $entity->id}" title="Delete" class="btn btn-danger btn-sm" onclick="return confirm('Item will be deleted. Continue?');">
        <i class="fa-solid fa-times"></i>
    </a>
{/block}
