//@import 'select2.scss';
@import 'icons.scss';

/*html, body {
    height: 100%;
}

body {
    margin-top: 20px;
}

.loader {
    min-height: 35px;
}

button.btn .pre-button {
    min-width: 20px;
    text-align: center;
    display: inline-block;

    .button-spinner {
        display: none;
        position: relative;
        top: -1px;
    }
}

a[href^="#error:"] {
    background: red;
    color: white;
}

form .required label {
    font-weight: bold;
}

.menu {
    font-size: 150%;
}

table.table {
    table-layout: fixed;

    th {
        max-width: 600px;
    }

    td {
        padding: 10px;

        &.small-td {
            min-width: 200px;
            max-width: 300px;
            overflow-wrap: break-word;
        }
        &.regular-td {
            min-width: 300px;
            max-width: 600px;
            overflow-wrap: break-word;
        }
        &.regular-td ul {
            padding: 5px;
            list-style: square;
        }
    }

}*/

/* Ace Editor */

/*.ace_editor {
    min-height: 200px;
    width: 100%;
}

.editor-wrapper .editor-toolbar {
    padding: 5px;
    float: right;

    button {
        margin-left: 1px;
        margin-right: 1px;
    }
}

.modal.modal-fullscreen .modal-dialog {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    max-width: none;
}

.modal.modal-fullscreen .modal-body .ace_editor {
    font-size: 120%;
}*/


