.icon {
    display: inline-block;

    &:before {
        font-family: "Font Awesome 5 Free";
        margin-right: 5px;
        text-decoration: none;
        /* https://stackoverflow.com/questions/47788847/font-awesome-5-font-family-issue */
        font-weight: 900 !important;
    }

    &.icon-brain:before {
        content: "\f5dc";
    }
    &.icon-subbrain:before {
        content: "\f67b";
    }
    &.icon-soul:before {
        content: "\f6e2";
    }
    &.icon-home:before {
        content: "\f015";
    }
    &.icon-behaviour-tree:before {
        content: "\f542";
    }
    &.icon-sa-smart-area:before, &.icon-smart-area:before {
        content:"\f5cb";
    }
    &.icon-smart-object:before {
        content:"\f0eb";
    }
    &.icon-dialog:before {
        content:"\f075";
    }
    &.icon-switching:before {
        content:"\f204";
    }
    &.icon-combat:before {
        content:"\f447";
    }
    &.icon-sa-behaviour-tag:before, &.icon-behaviour-tag:before {
        content:"\f02c";
    }


    &.icon-collapse[aria-expanded="false"]:before {
        content:"\f067";
    }
    &.icon-collapse[aria-expanded="true"]:before {
        content:"\f068";
    }
}
