{import '../_form.latte'}

{block content}

{form form data-submit-default => 'save'}
    <div class="row">
        <div class="col-md-10 col-sm-8">
            {foreach $form->getValueControls() as $formControl}
                {include #input $formControl}
            {/foreach}
            <h3 class="mt-2 mb-2">Relations</h3>
            <div class="row">
                <div class="col-md-3">
                    <div n:inner-foreach="$form->getContainers() as $relationName => $formContainer" n:id="relations-tabs" class="nav flex-column nav-pills me-3"
                         role="tablist" aria-orientation="vertical">
                        <button n:id="{$relationName}-tab" data-bs-target="#{id $relationName}" aria-controls="{id $relationName}"
                                n:class="
                                    nav-link, icon, 'icon-' . ($relationName|webalize),
                                    !$formContainer[enabled]->value ? text-muted,
                                    $iterator->first && !$form[subbrainType]->value || $form[subbrainType]->value === $formContainer->getOption(mappedType) ? active
                                "
                                data-bs-toggle="pill" type="button" role="tab" aria-selected="false">
                            {$relationName|firstUpper}
                        </button>
                    </div>
                </div>
                <div class="col-md-9 align-items-start">
                    <div n:inner-foreach="$form->getContainers() as $relationName => $formContainer" n:id="relations" class="tab-content">
                        <div n:formContainer="$relationName" n:id="$relationName" aria-labelledby="{id {$relationName}-tab}"
                             n:class="
                                tab-pane, fade,
                                ($isActive = $iterator->first && !$form[subbrainType]->value || $form[subbrainType]->value === $formContainer->getOption(mappedType)) ? active,
                                $isActive ? show
                             "
                             role="tabpanel" tabindex="0">

                            {include #input enabled}
                            <div data-relation>
                                {foreach $formContainer->getControls() as $name => $relationFormControl}
                                    {if $name !== 'enabled'}
                                        {include #input $relationFormControl}
                                    {/if}
                                {/foreach}
                            </div>
                            <script>
                                $(function () {
                                    $({formId #enabled}).on('change', function () {
                                        const tab = $({id #{$relationName}-tab});
                                        const tabContentData = $({id #{$relationName}}).find('*[data-relation]');

                                        if ($(this).is(':checked')) {
                                            tab.removeClass('text-muted');
                                            tabContentData.show();
                                        } else {
                                            tab.addClass('text-muted');
                                            tabContentData.hide();
                                        }
                                    }).trigger('change');
                                });
                            </script>
                            <script n:ifset="$formContainer[fileData]">
                                $(function () {
                                    $({formId #fileData}).on('keyup change', function () {
                                        $({formId #updateFileData}).prop('checked', true);
                                    });
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-4">
            <p>{include #submit save, [class => 'btn-primary', icon => 'far fa-save']}</p>
            <p>{include #submit saveReturn, [class => 'btn-primary', icon => 'fas fa-angle-double-right']}</p>
        </div>
    </div>
{/form}
