.icon {
  display: inline-block;
}
.icon:before {
  font-family: "Font Awesome 5 Free";
  margin-right: 5px;
  text-decoration: none;
  font-weight: 900 !important;
}
.icon.icon-brain:before {
  content: "\f5dc";
}
.icon.icon-subbrain:before {
  content: "\f67b";
}
.icon.icon-soul:before {
  content: "\f6e2";
}
.icon.icon-home:before {
  content: "\f015";
}
.icon.icon-behaviortree:before {
  content: "\f542";
}
.icon.icon-sa-smartarea:before, .icon.icon-smartarea:before {
  content: "\f5cb";
}
.icon.icon-smartobject:before {
  content: "\f0eb";
}
.icon.icon-dialog:before {
  content: "\f075";
}
.icon.icon-switching:before {
  content: "\f204";
}
.icon.icon-combat:before {
  content: "\f447";
}
.icon.icon-situation:before {
  content: "\e4bf";
}
.icon.icon-sa-behaviour-tag:before, .icon.icon-behaviour-tag:before {
  content: "\f02c";
}
.icon.icon-collapse[aria-expanded=false]:before {
  content: "\f067";
}
.icon.icon-collapse[aria-expanded=true]:before {
  content: "\f068";
}

/*html, body {
    height: 100%;
}

body {
    margin-top: 20px;
}

.loader {
    min-height: 35px;
}

button.btn .pre-button {
    min-width: 20px;
    text-align: center;
    display: inline-block;

    .button-spinner {
        display: none;
        position: relative;
        top: -1px;
    }
}

a[href^="#error:"] {
    background: red;
    color: white;
}

form .required label {
    font-weight: bold;
}

.menu {
    font-size: 150%;
}

table.table {
    table-layout: fixed;

    th {
        max-width: 600px;
    }

    td {
        padding: 10px;

        &.small-td {
            min-width: 200px;
            max-width: 300px;
            overflow-wrap: break-word;
        }
        &.regular-td {
            min-width: 300px;
            max-width: 600px;
            overflow-wrap: break-word;
        }
        &.regular-td ul {
            padding: 5px;
            list-style: square;
        }
    }

}*/
/* Ace Editor */
/*.ace_editor {
    min-height: 200px;
    width: 100%;
}

.editor-wrapper .editor-toolbar {
    padding: 5px;
    float: right;

    button {
        margin-left: 1px;
        margin-right: 1px;
    }
}

.modal.modal-fullscreen .modal-dialog {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    max-width: none;
}

.modal.modal-fullscreen .modal-body .ace_editor {
    font-size: 120%;
}*/

/*# sourceMappingURL=style.css.map */
